<div class="logo" *ngIf="(state.currentStep$ | async) !== 3">
  <img src="https://chrisadamsca.github.io/gexit/assets/images/googlelogo.png" alt="">
</div>

<div class="card search-card">
  <app-search-input></app-search-input>
  <app-search-nav></app-search-nav>
</div>

<app-start *ngIf="(state.currentStep$ | async) === 0"></app-start>
<app-bilder *ngIf="(state.currentStep$ | async) === 1"></app-bilder>
<app-news *ngIf="(state.currentStep$ | async) === 2"></app-news>
<app-maps *ngIf="(state.currentStep$ | async) === 3"></app-maps>
<app-end *ngIf="(state.currentStep$ | async) === 4"></app-end>
