:host {
  width: 100%;
}

.search-input {
  width: 100%;
  display: flex;
  overflow: hidden;
}

input {
  flex: 1;
  display: flex;
  padding: 7px 0 6px;
  border: none;
  /* border: 1px solid #d9d9d9; */
  border-bottom: 1px solid #d9d9d9;
  border-right: 0;
  border-top-left-radius: 8px;
  height: 40px;
  padding-left: 16px;
  flex-grow: 1;
  font-size: 18px;
}

button {
  border-radius: 0;
  -webkit-border-top-right-radius: 8px;
  height: 40px;
  width: 40px;
  background-color: #3b78e7;
  border: 1px solid #3367d6;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.alert {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert button {
  padding: 0;
  margin-top: 1rem;
  border-radius: 2px;
  border: 1px solid black;
  line-height: 40px;
  text-align: center;
  width: 200px;
  color: black;
  background-color: transparent;
}
